// main.scss
@import "./variables";
@import "~bootstrap/scss/bootstrap";
@import url("./adminlayout.scss");
@import url("./header.scss");
@import url("./dashboard.scss");
@import url("./common.scss");
@import url("./sidebar.scss");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;

  // Media query for mobile
  @media (max-width: 426px) {
    font-size: 12px;
  }
}

// Root styles with default theme (light)
:root {
  @include theme(
    $light-primary-color,
    $light-secondary-color,
    $light-text-color,
    $light-bg-color,
    $light-shade-bg,
    $light-border,
    $light-active-border,
    $light-thead,
    $light-icon
  );
}

// Dark theme styles
body.dark-theme {
  @include theme(
    $dark-primary-color,
    $dark-secondary-color,
    $dark-primary-text-color,
    $dark-bg-color,
    $dark-shade-bg,
    $dark-border,
    $dark-active-border,
    $dark-thead,
    $dark-icon
  );
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.menu-icon {
  display: none;
}

/* Main  */
.main-container {
  grid-area: main;
  overflow-y: auto;
  color: rgba(255, 255, 255, 0.95);
}

.main-title {
  display: flex;
  justify-content: space-between;
}

.main-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 15px 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px 15px;
  border-radius: 5px;
}

.card:first-child {
  background-color: #2962ff;
}

.card:nth-child(2) {
  background-color: #ff6d00;
}

.card:nth-child(3) {
  background-color: #2e7d32;
}

.card:nth-child(4) {
  background-color: #d50000;
}

.card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-inner > .card_icon {
  font-size: 25px;
}

.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 60px;
  height: 300px;
}

/* End Main  */

/* Medium <= 992px */

@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      "header"
      "main";
  }

  #sidebar {
    display: none;
  }

  .menu-icon {
    display: inline;
  }

  .sidebar-title > span {
    display: inline;
  }
}
/* Small <= 768px */

@media screen and (max-width: 768px) {
  .main-cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }

  .charts {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
}

/* Extra Small <= 576px */

@media screen and (max-width: 576px) {
  .hedaer-left {
    display: none;
  }
}

/* Custom Scrollbar for WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
  border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color when hovered */
}

/* For Firefox */
.scroll-container {
  scrollbar-width: thin; /* Makes the scrollbar thin */
  scrollbar-color: #888 #f1f1f1; /* thumb color and track color */
}

.recharts-legend-item-text {
  color: var(--text-color);
}
